{% extends "base.html" %} {% block content %}
<div style="top: 0">
  <h1 class="title">Sat., Jul. 31 | MovieWatcher Center</h1>
  <h1 class="title">FAST AND FURIOUS 9</h1>
  <h1 class="title">Watch new Fast and Furious 9 starring Vin Diesel and John Cena</h1>
  <div style="float: left; width: 100%; padding: 5px">
    <img src="{{url_for('static', filename='background.png')}}" alt="Forest" style="width: 100%" />
    <h1 class="title">Time & Location</h1>
    <h3>Time</h3>
    <h3>Location</h3>
    <h1 class="title">About the Event</h1>
    <h3>A bank teller discovers that he's actually an NPC inside a brutal, open world video game.</h3>
    <h3>Director: Shawn Levy
      <h3>Writers: Matt Lieberman (screenplay by), Matt Lieberman (story by)</h3>
      <h3>Stars: Ryan Reynolds, Jodie Comer, Taika Waititi</h3>
  </div>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2891.2997840406333!2d-79.71378868454356!3d43.55863607912463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b418a28a8d2a3%3A0x47dbf068950a408d!2sErin%20Mills%20Town%20Centre!5e0!3m2!1sen!2sca!4v1623800860621!5m2!1sen!2sca"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
{% endblock %}