{% extends "base.html" %} {% block content %}
<div style="top: 0" class="container-fluid">
  <div style="padding-left: 10%; padding-right: 10%; padding-top: 50px; padding-bottom: 400px;">
    <div style="float: left; width: 50%; padding: 10px; text-align: left;">
      <h1 style="margin-top: 225px; font-weight: 700; font-family: Apple Chancery; font-style: italic; font-size: 73px">
        MovieWatcher</h1>
      <h3>Want To Watch Some Movies?</h3>
    </div>
    <div style="float: left; width: 50%; padding: 10px; overflow: auto;">
      <img src="{{url_for('static', filename='background.png')}}" alt="Forest"
        style="width: 100%; height: 600px; object-fit: cover; object-position: 50% 0" />
    </div>
  </div>
  <div class="w3-container has-text-left">
    <h2
      style="text-align: center; font-family: Apple Chancery; font-style: italic; font-size: 33px; margin-top: 175px; margin-bottom: 100;">
      Upcoming Movies
    </h2>
    <ul class="w3-ul">
      <li class="w3-bar">
        <span class="w3-bar-item w3-right">
          <form action="/" method="post">
            <button name="movieName" value="Venom 2" type="submit"
              style="background-color: #c58455; border: none; color: white; height: 45px; width: 105px">Order</button>
          </form>
        </span>
        <div class="w3-bar-item w3-circle w3-hide-small row" style="width: 105px">
          <div style="float: left; font-size: 35px; width: 70%; font-family: Garamond; font-style: italic;">
            30
          </div>
          <div style="float: left; width: 30%; font-family: Garamond; font-style: italic; font-size: 14px">Sat. Jul.
          </div>
        </div>
        <div style="margin-left: 120px; padding-bottom: 10px;">
          <span>
            <h2 style="font-family: Apple Chancery; font-style: italic; font-size: 27px; display:inline-block">
              Venom 2 / </h2>
            <p style="display:inline-block; font-size: 15px;">MovieWatcher Center</p>
          </span>
        </div>
      </li>

      <li class="w3-bar">
        <span class="w3-bar-item w3-right">
          <form action="/" method="post">
            <button name="movieName" value="FAST AND FURIOUS 9" type="submit"
              style="background-color: #c58455; border: none; color: white; height: 45px; width: 105px">Order</button>
          </form>
        </span>
        <div class="w3-bar-item w3-circle w3-hide-small row" style="width: 105px">
          <div style="float: left; font-size: 35px; width: 70%; font-family: Garamond; font-style: italic;">
            30
          </div>
          <div style="float: left; width: 30%; font-family: Garamond; font-style: italic; font-size: 14px">Sat. Jul.
          </div>
        </div>
        <div style="margin-left: 120px; padding-bottom: 10px;">
          <span>
            <h2 style="font-family: Apple Chancery; font-style: italic; font-size: 27px; display:inline-block">
              FAST AND FURIOUS 9 / </h2>
            <p style="display:inline-block; font-size: 15px;">MovieWatcher Center</p>
          </span>
        </div>
      </li>

      <li class="w3-bar">
        <span class="w3-bar-item w3-right">
          <form action="/" method="post">
            <button name="movieName" value="Luca" type="submit"
              style="background-color: #c58455; border: none; color: white; height: 45px; width: 105px">Order</button>
          </form>
        </span>
        <div class="w3-bar-item w3-circle w3-hide-small row" style="width: 105px">
          <div style="float: left; font-size: 35px; width: 70%; font-family: Garamond; font-style: italic;">
            30
          </div>
          <div style="float: left; width: 30%; font-family: Garamond; font-style: italic; font-size: 14px">Sat. Jul.
          </div>
        </div>
        <div style="margin-left: 120px; padding-bottom: 10px;">
          <span>
            <h2 style="font-family: Apple Chancery; font-style: italic; font-size: 27px; display:inline-block">
              Luca / </h2>
            <p style="display:inline-block; font-size: 15px;">MovieWatcher Center</p>
          </span>
        </div>
      </li>

      <li class="w3-bar">
        <span class="w3-bar-item w3-right">
          <form action="/" method="post">
            <button name="movieName" value="A Quiet Place 2" type="submit"
              style="background-color: #c58455; border: none; color: white; height: 45px; width: 105px">Order</button>
          </form>
        </span>
        <div class="w3-bar-item w3-circle w3-hide-small row" style="width: 105px">
          <div style="float: left; font-size: 35px; width: 70%; font-family: Garamond; font-style: italic;">
            30
          </div>
          <div style="float: left; width: 30%; font-family: Garamond; font-style: italic; font-size: 14px">Sat. Jul.
          </div>
        </div>
        <div style="margin-left: 120px; padding-bottom: 10px;">
          <span>
            <h2 style="font-family: Apple Chancery; font-style: italic; font-size: 27px; display:inline-block">
              A Quiet Place 2 / </h2>
            <p style="display:inline-block; font-size: 15px;">MovieWatcher Center</p>
          </span>
        </div>
      </li>

      <li class="w3-bar">
        <span class="w3-bar-item w3-right">
          <form action="/" method="post">
            <button name="movieName" value="Free Guy" type="submit"
              style="background-color: #c58455; border: none; color: white; height: 45px; width: 105px">Order</button>
          </form>
        </span>
        <div class="w3-bar-item w3-circle w3-hide-small row" style="width: 105px">
          <div style="float: left; font-size: 35px; width: 70%; font-family: Garamond; font-style: italic;">
            30
          </div>
          <div style="float: left; width: 30%; font-family: Garamond; font-style: italic; font-size: 14px">Sat. Jul.
          </div>
        </div>
        <div style="margin-left: 120px; padding-bottom: 10px;">
          <span>
            <h2 style="font-family: Apple Chancery; font-style: italic; font-size: 27px; display:inline-block">
              Free Guy / </h2>
            <p style="display:inline-block; font-size: 15px;">MovieWatcher Center</p>
          </span>
        </div>
      </li>

    </ul>
  </div>

  <div style="margin-top: 100px">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <iframe width="100%" height="550" src="https://www.youtube.com/embed/fEE4RO-_jug">
          </iframe>
          <div class="carousel-caption">
            <p>FilmSelect Trailer</p>
            <h3
              style="font-family: Garamond; font-style: italic; font-size: 20px; margin-top: -4px; padding-bottom: 10px;">
              FAST AND FURIOUS 9 Trailer (2021)</h3>
          </div>
        </div>

        <div class="item">
          <iframe width="100%" height="550" src="https://www.youtube.com/embed/0hgHY9k-44U">
          </iframe>
          <div class="carousel-caption">
            <p>FilmSelect Trailer</p>
            <h3
              style="font-family: Garamond; font-style: italic; font-size: 20px; margin-top: -4px; padding-bottom: 10px;">
              Luca Trailer (2021)</h3>
          </div>
        </div>

        <div class="item">
          <iframe width="100%" height="550" src="https://www.youtube.com/embed/Baf2vMpd_wA">
          </iframe>
          <div class="carousel-caption">
            <p>FilmSelect Trailer</p>
            <h3
              style="font-family: Garamond; font-style: italic; font-size: 20px; margin-top: -4px; padding-bottom: 10px;">
              A Quiet Place Part 2 Trailer (2021)</h3>
          </div>
        </div>

        <div class="item">
          <iframe width="100%" height="550" src="https://www.youtube.com/embed/JORN2hkXLyM">
          </iframe>
          <div class="carousel-caption">
            <p>FilmSelect Trailer</p>
            <h3
              style="font-family: Garamond; font-style: italic; font-size: 20px; margin-top: -4px; padding-bottom: 10px;">
              Free Guy Trailer (2021)</h3>
          </div>
        </div>

        <div class="item">
          <iframe width="100%" height="550" src="https://www.youtube.com/embed/-ezfi6FQ8Ds">
          </iframe>
          <div class="carousel-caption">
            <p>FilmSelect Trailer</p>
            <h3
              style="font-family: Garamond; font-style: italic; font-size: 20px; margin-top: -4px; padding-bottom: 10px;">
              Venom 2 (2021)</h3>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div
    style="position: relative; align-content:center; width: 100vw; padding-top: 100px; margin-left: -30px; margin-right: -30px; background-color:#f7f7f7; text-align: center;">
    <img src="{{url_for('static', filename='footerMovieImage.png')}}" style="width:100%;">
    <h5 style="font-family: Avanta Garde; font-size: 20px; margin-top: 70px;">More Info</h5>
    <div style="width: 75%; margin: 0 auto; padding-top: 30px; padding-bottom: 120px;">
      <p style="font-family: Helvetica;">Watch Movie, a Canadian entertainment company headquartered in Toronto,
        Ontario.
        We are the most most popular
        destination for movies, showtimes, tickets, and trailers. Explore the site to order tickets to upcoming
        movies.
      </p>
    </div>
  </div>

  <!-- Footer -->
  <div style="margin-top: 50px; margin-bottom: 20px; text-align: center;">
    <h5 style="font-family: Garamond; font-style: italic; font-size: 25px; margin-bottom: 30px;">MovieWatcher</h5>
    <ul class="grid-container">
      <li style="display: inline; padding: 10px"><a href="https://www.facebook.com/"><i class="fa fa-facebook"
            style="color: black; font-size: 1.3em;" aria-hidden="true"></i></a></li>
      <li style="display: inline; padding: 10px"><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter"
            style="color: black; font-size: 1.3em;" aria-hidden="true"></i></a></li>
      <li style="display: inline; padding: 10px"><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"
            style="color: black; font-size: 1.3em;" aria-hidden="true"></i></a></li>
    </ul>
  </div>


</div>
{% endblock %}